<div class="w-full md:block hidden mt-4">
    <div class="ms-72">
        <div class="w-full flex justify-between items-center">
            <div class="ms-11 w-1/6 flex rounded-full bg-zinc-700 py-2 ps-2 items-center">
                <input type="text" class=" w-full bg-zinc-700 ms-2 text-white focus:outline-none" placeholder="Search">
                <ng-icon name="heroMagnifyingGlass" class="text-white text-xl mx-4"></ng-icon>
            </div>
            <div class="me-11 w-1/4">
                <div class="w-full flex items-center">
                    <div class="flex gap-4">
                        <ng-icon name="heroBell" class="text-white text-xl"></ng-icon>
                        <ng-icon name="heroInbox" class="text-white text-xl"></ng-icon>
                    </div>
                    <div class="text-white w-1/2 ms-4 flex items-center bg-zinc-950">
                        <ng-icon name="heroUser" class="text-white text-xl me-4"></ng-icon>
                        <select name="" id="" class="w-1/2 bg-zinc-950 flex">
                            <option class="hidden">Profile</option>
                            <option></option>
                            <option></option>
                            <option></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="md:flex md:w-full">
    <app-protrack-sidebar></app-protrack-sidebar>
    <app-protrack-navbar></app-protrack-navbar>
    <div class=" w-full text-white md:ms-80 px-3">
        <div class="w-full flex justify-between mt-3 mb-12 items-center">
            <div class="flex-col">
                <div class="md:text-3xl text-xl font-bold">Good Morning, User</div>
                <div class="text-sm text-gray-400">Explore your projects and achievements</div>
            </div>
            <div class="hidden md:block">
                <div class="flex hover:cursor-pointer bg-purple-500 button-secondary justify-center">New Project
                </div>
            </div>
            <div class="md:hidden">
                <div class="flex  rounded-full px-4 hover:cursor-pointer bg-purple-500 button-secondary text-center">+
                </div>
            </div>
        </div>
        <div class="w-full">
            <div class="md:flex md:justify-center xs:flex-col">
                <div class="md:w-1/3 w-full">
                    <app-protrack-project-widget></app-protrack-project-widget>
                </div>
                <div class="md:w-1/3 ">
                    <app-protrack-project-widget></app-protrack-project-widget>
                </div>
            </div>
            <div class="mt-4">
                <div class="md:text-xl text-lg my-2 font-semibold">
                    Owned Projects
                </div>
                <app-protrack-box>
                    <app-protrack-project-list-item *ngFor="let item of response"
                        [project]="item"></app-protrack-project-list-item>
                    <div class="w-full justify-center flex mt-3 mb-2">
                        <div
                            class="flex hover:cursor-pointer bg-white text-black font-bold button-secondary justify-center px-3 hover:bg-purple-500 hover:text-white">
                            View all projects
                        </div>
                    </div>
                </app-protrack-box>
            </div>
            <div class="mt-4">
                <div class="md:text-xl text-lg my-2 font-semibold">
                    Joined Projects
                </div>
                <app-protrack-box>
                    <app-protrack-project-list-item *ngFor="let item of response"
                        [project]="item"></app-protrack-project-list-item>
                    <div class="w-full justify-center flex mt-3 mb-2">
                        <div
                            class="flex hover:cursor-pointer bg-white text-black font-bold button-secondary justify-center px-3 hover:bg-purple-500 hover:text-whiter">
                            View all projects
                        </div>
                    </div>
                </app-protrack-box>
            </div>
        </div>
    </div>
    <div class="md:w-5/12 md:right-0 h-full md:ms-3 md:me-0 my-3 text-white">
        <div class="text-white ms-4 font-bold text-lg mb-3">Upcoming Events</div>
        <app-protrack-upcoming-events-list></app-protrack-upcoming-events-list>
    </div>
</div>