<div class="bg-zinc-900 text-white py-4 pe-4 hidden md:block w-80  h-full fixed top-0 left-0 rounded-e-3xl">
    <!-- Masaüstü cihazlar için yan menü -->
    <div class="flex items-center justify-between mb-8">
        <a href="/dashboard" class="text-xl font-bold ms-4 mt-4">ProTrack 🔭</a>
    </div>
    <div class="flex-col">
        <app-protrack-sidebar-list-item
        *ngFor="let sidebar_item of sidebar_items"
        [item]="sidebar_item"
        ></app-protrack-sidebar-list-item>
    </div>
</div>
