<aside class="bg-zinc-900 text-white py-4 pe-4 hidden md:block w-72 h-full fixed top-0 left-0 rounded-e-3xl">
    <!-- Masaüstü cihazlar için yan menü -->
    <div class="flex items-center justify-between mb-8">
        <a href="#" class="text-xl font-bold ms-4 mt-4">ProTrack 🔭</a>
    </div>
    <div class="flex-col">
        <app-protrack-sidebar-list-item></app-protrack-sidebar-list-item>
        <div class="flex  justify-start">
            <div class="flex items-center">
                <ng-icon name="heroTableCells"></ng-icon>
                Projects
            </div>
        </div>
        <div class="flex  justify-start">
            <div class="flex items-center">
                <ng-icon name="heroUserGroup"></ng-icon>
                Team Members
            </div>
        </div>
        <div class="flex  justify-start">
            <div class="flex items-center">
                <ng-icon name="heroCalendar"></ng-icon>
                Team Availibility
            </div>
        </div>
        <div class="flex  justify-start">
            <div class="flex items-center">
                <ng-icon name="heroCog6Tooth"></ng-icon>
                Settings
            </div>
        </div>
    </div>
</aside>