<h1 mat-dialog-title>Edit Project</h1>
<div class="" mat-dialog-content>

  <form action="" class="" [formGroup]="projectForm">
    <div class="pt-3 w-full">
      <div class="justify-start m-3">
        <label for="title" class="mb-2">Title</label>
        <div class="mb-3 w-full">
          <input class="text-black w-full input" type="text" name="name" id="name" formControlName="title">
          <div class="text-red-500 text-sm mt-2"
            *ngIf="projectForm.get('title')?.hasError('required') &&projectForm.get('title')?.touched">
            Title is required.
          </div>
        </div>

        <label for="description" class="mb-2">Title</label>
        <div class="mb-3 w-full">
          <input class="text-black w-full input" type="text" name="description" id="description" formControlName="description">
          <div class="text-red-500 text-sm mt-2"
            *ngIf="projectForm.get('description')?.hasError('required') &&projectForm.get('description')?.touched">
            Description is required.
          </div>
        </div>

        <div class="w-full  flex justify-between items-center gap-4">
          <div class="w-full">
            <label for="start_date" class=" text-lg">Start Date</label>
            <input type="date" formControlName="start_date" name="start_date" id="start_date"
              class="input p-2 rounded-md text-black  bg-zinc-500">
            <div *ngIf="projectForm.get('start_date')?.hasError('required') && projectForm.get('start_date')?.touched"
              class="input-error mt-1">
              Start date is required
            </div>
          </div>
          <div class="w-full">
            <label for="end_date" class="text-lg">End Date</label>
            <input type="date" formControlName="end_date" name="end_date" id="end_date"
              class="input p-2 rounded-md text-black  bg-zinc-500">
            <div *ngIf="projectForm.get('end_date')?.hasError('required') && projectForm.get('end_date')?.touched"
              class="input-error mt-1">
              End date is required
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-between gap-2 w-full" id="add-kanban-buttons">
        <button mat-button mat-dialog-close>Cancel</button>
        <div class="flex gap-2">

          <button mat-button [class]="'hover:bg-red-400'" (click)="resetForm()">Reset</button>
          <button mat-button mat-dialog-close [class]="'hover:bg-purple-400'" (click)="updateProject()">Update</button>

        </div>
      </div>
    </div>
  </form>
</div>
