<div class="md:flex md:w-full">
    <app-protrack-sidebar></app-protrack-sidebar>
    <app-protrack-navbar></app-protrack-navbar>
    <div class="w-full text-white md:ms-80 px-3 mt-8">
        <div class="flex justify-start mt-3 mb-12">
            <div class="md:text-3xl text-xl font-bold">
                Projects
            </div>
        </div>
        <div class="w-full mt-4">
            <app-protrack-box>
                
            <div class="w-full justify-center flex mt-3 mb-2">
                <app-protrack-primary-button></app-protrack-primary-button>
            </div>
            </app-protrack-box>
        </div>
    </div>
    <div class="md:w-5/12 md:block hidden md:right-0 h-full md:ms-3 md:me-0 my-3 text-white">
        <div class="text-white ms-4 font-bold text-lg mb-3 mt-8">Upcoming Events</div>
        <app-protrack-upcoming-events-list></app-protrack-upcoming-events-list>
    </div>
</div>