<div class="w-full md:block hidden mt-5">
  <div class="ms-72">
    <div class="w-full flex justify-between items-center">
      <div class="ms-11 w-1/6 flex  py-2 ps-2 items-center">
        <!-- <input type="text" class=" w-full bg-zinc-700 ms-2 text-white focus:outline-none" placeholder="Search">
        <ng-icon name="heroMagnifyingGlass" class="text-white text-xl mx-4"></ng-icon> -->
      </div>
      <div class="me-11 w-1/4">
        <div class="w-full flex items-center">
          <div class="text-white w-1/2 ms-4 flex items-center bg-zinc-950">
            <div class="hover:cursor-pointer text-sm text-gray-400 hover:text-gray-300" (click)="logout()">Logout</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="md:flex md:w-full">
  <app-protrack-sidebar></app-protrack-sidebar>
  <app-protrack-navbar></app-protrack-navbar>
  <div *ngIf="project" class=" w-3/4 text-white md:ms-80 px-3">
    <div class="w-full flex justify-between mt-3 mb-12 items-center">
      <div class="flex-col">
        <div class="md:text-3xl text-xl font-bold">{{project.title}}
          <span (click)="openEditProject('0ms','0ms',project)">
            <ng-icon name="heroPencil" class="text-base hover:cursor-pointer hover:text-purple-400"></ng-icon>
          </span>
        </div>
        <div class="text-sm text-gray-400">{{project.description}}</div>
      </div>
      <div class="text-gray-400 text-md">
        <div class="flex justify-end gap-4 items-center mb-1">
          <div class="text-sm text-gray-400">{{isToggled ? 'Active' : 'Inactive'}}</div>
          <label for="toggleTwo" class="flex items-center cursor-pointer select-none ">
            <div class="relative bg-gray-200 rounded-full">
              <input type="checkbox" id="toggleTwo" class="peer sr-only" [(ngModel)]="isToggled"
                (click)="toggleSwitch(isToggled)" />
              <div class="block h-8 rounded-full  w-14"></div>
              <div
                class="absolute w-6 h-6 transition bg-gray-600 rounded-full dot dark:bg-white left-1 top-1 peer-checked:translate-x-full peer-checked:bg-purple-400">
              </div>
            </div>
          </label>
        </div>
        <div class="">
          Owned by: {{project.owner?.name}}
        </div>
        <div class="">
          Started at: {{start_date}}
        </div>
      </div>

    </div>
    <div class="w-full flex justify-between mt-3 mb-12 items-center">
      <div class="flex justify-between w-full gap-6 me-16">
        <div class="w-2/3">
          <div class="w-full flex justify-between items-center mb-2">
            <div class="text-lg font-semibold">
              Kanbans
            </div>
            <button (click)="openAddKanbanDialog('0ms', '0ms',project)"
              class="flex hover:cursor-pointer text-sm bg-white text-black font-bold button-primary p-1.5 justify-center px-3 hover:bg-purple-500 hover:text-white">Add
              Kanban
            </button>
          </div>
          <app-protrack-box *ngFor="let kanban of kanbans">
            <div class=" mx-3 my-2 flex items-center justify-between hover:cursor-pointer">
              <div  [routerLink]="['/projects/',projectId,'kanbans',kanban.id]" class="flex items-center w-full gap-3">
                <ng-icon name="heroTableCells" class="text-2xl"></ng-icon>
                <div class=" font-semibold">{{kanban!.name}}</div>
              </div>
              <div class="flex gap-4 items-center w-full justify-end">
                <div class="font-bold text-sm text-gray-400 hover:text-white">{{kanban?.members?.length}} Members</div>
                <button class="hover:text-red-500 text-lg flex items-center">
                  <ng-icon (click)="openRemoveDialog('0ms', '0ms',kanban,project)" name="heroXMark"></ng-icon></button>
              </div>
            </div>
          </app-protrack-box>
          <app-protrack-box *ngIf="kanbans!.length < 1">
            <div class="text-gray-400 text-sm text-center p-2">There's no kanban yet. Everything starts with a plan. So
              just <span class="hover:text-white hover:cursor-pointer"
                (click)="openAddKanbanDialog('0ms', '0ms',project)">create a kanban</span>.</div>
          </app-protrack-box>
        </div>
        <div class="w-1/3">
          <div class="w-full flex justify-between items-center mb-2">
            <div class="text-lg font-semibold">
              Members
            </div>
            <button (click)="openAddMemberDialog('0ms','0ms',project)"
              class="flex hover:cursor-pointer text-sm bg-white text-black font-bold button-primary p-1 justify-center px-3 hover:bg-purple-500 hover:text-white"><ng-icon
                name="heroUserPlus" class="text-2xl"></ng-icon>
            </button>
          </div>
          <app-protrack-box *ngIf="project.members == null">
            No members were added. Why not start with add a Team Member
          </app-protrack-box>
          <app-protrack-box *ngFor="let member of project.members">
            <div class=" mx-3 my-2 flex items-center justify-between hover:cursor-pointer">
              <div class="flex items-center md:w-1/2 w-full gap-3">
                <ng-icon name="heroUserCircle" class="text-2xl"></ng-icon>
                <div class=" font-semibold">{{member.name}}</div>
              </div>
              <div class="font-bold text-sm text-gray-400 hover:text-red-500">
                <ng-icon name="heroUserMinus" class="text-2xl" (click)="removeMemberFromProject(member.id!)"></ng-icon>
              </div>
            </div>
          </app-protrack-box>
          <app-protrack-box *ngIf="project.members!.length < 1">
            <div class="text-gray-400 text-sm text-center p-2">Team is important to growth of your project. <span
                class="hover:text-white hover:cursor-pointer" (click)="openAddMemberDialog('0ms','0ms',project)">Add a
                member</span>.</div>
          </app-protrack-box>


        </div>
      </div>
    </div>
  </div>
</div>
