<div class="flex justify-between items-center md:flex-col">
    <div class="md:text-xl text-lg my-2 font-semibold text-center">
        {{innerText}}
    </div>
    <div class="hidden md:flex w-full justify-center">
        <div class="w-32 h-32">
            <div
                class="flex justify-center w-full h-full text-5xl items-center border-4 border-purple-400 rounded-full">
                {{count}}
            </div>
        </div>
    </div>
    <div class="flex w-1/12 text-purple-300 md:hidden">{{count}}</div>

</div>
