/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .label{
        @apply block mb-1 text-gray-500 dark:text-gray-300 font-medium
    }
    .input{
        @apply block w-full p-2 rounded-full shadow-sm border border-gray-300 dark:border-gray-600 text-gray-500
        bg-gray-300 dark:bg-gray-600 dark:text-gray-300 hover:dark:border-purple-500 focus:outline-none focus:border-purple-500
    }
    .button-primary{
        @apply bg-purple-800 hover:bg-purple-700 text-white font-medium p-2 rounded-full
    }
    .button-secondary{
        @apply bg-gray-400  text-white font-medium p-2  rounded-full
    }
    .input-error{
        @apply text-sm text-red-500 dark:text-red-400
    }

    .delete-button {
      background-color: red;
      color: white;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
      transition: opacity 0.3s ease;
      opacity: 0;
    }

    .kanban-item:hover .delete-button {
      opacity: 1;
    }
}

body{
    @apply bg-neutral-950
}
