
<div class="md:hidden">
    <nav class="flex flex-wrap items-center justify-between p-3 bg-zinc-900 text-white">
        ProTrack 🔭
        <div class="flex md:hidden">
            <button id="hamburger">
                <ng-icon name="heroBars3" class="toggle block"></ng-icon>
            </button>
        </div>
        <div
            class="toggle hidden w-full md:w-auto md:flex text-right text-bold mt-5 md:mt-0 border-t-2 border-white-800 md:border-none">
            <app-protrack-navbar-list-item></app-protrack-navbar-list-item>
            <a href="#"
                class="block md:inline-block text-white-800 hover:text-white-800 px-3 py-3 border-b-2 border-white-800 md:border-none">
                <ng-icon name="heroTableCells"></ng-icon>
                Projects
            </a>
            <a href="#"
                class="block md:inline-block text-white-800 hover:text-white-800 px-3 py-3 border-b-2 border-white-800 md:border-none">
                <ng-icon name="heroUserGroup"></ng-icon>
                Team Members
            </a>
            <a href="#"
                class="block md:inline-block text-white-800 hover:text-white-800 px-3 py-3 border-b-2 border-white-800 md:border-none">
                <ng-icon name="heroCalendar"></ng-icon>
                Team Availibility
            </a>
            <a href="#"
                class="block md:inline-block text-white-800 hover:text-white-800 px-3 py-3 border-b-2 border-white-800 md:border-none">
                <ng-icon name="heroCog6Tooth"></ng-icon>
                Settings
            </a>
        </div>
        <a href="#"
            class="toggle hidden md:flex w-full md:w-auto px-4 py-2 text-right bg-white-800 hover:bg-white-800 text-white md:rounded">Logout
        </a>
    </nav>

</div>