<div class="md:grid md:grid-cols-2 text-white">
    <div class="md:h-full bg-purple-800 items-center hidden md:flex ">
        <div class="md:w-1/2 md:h-1/2 md:m-auto">
        <img src="../../../assets/images/login.png" alt="">
        </div>
    </div>
    <div class="h-screen bg-slate-900">
        <div class="grid h-full">
            <div class="">
                <div class="flex justify-end items-center font-bold text-4xl m-5">
                   {{common.logo}}
                </div>
            </div>
            <div class="items-center h-full">
                <div class="w-3/4 md:w-1/2 mx-auto">
                    <form [formGroup]="loginForm">
                        <div class="mb-4">
                            <div class="font-bold text-3xl">
                                {{forms.login}}
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="email" class="label text-lg">{{forms.email}}</label>
                            <input formControlName="email" type="email" name="email" id="email" class="input p-3">
                            <div *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched" class="input-error mt-1">
                                {{forms.email_err}}
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="password" class="label text-lg">{{forms.password}}</label>
                            <input formControlName="password" type="password" name="password" id="password" class="input p-3">
                            <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched" class="input-error mt-1">
                                {{forms.password_err}}
                            </div>
                        </div>
                        <div class="mt-10 mb-5">
                            <button type="submit" [classList]="loginForm.valid ? 'hover:bg-purple-500 button-secondary w-full p-4' : 'cursor-not-allowed button-secondary w-full p-4'"  (click)="login()">Login</button>
                        </div>
                    </form>
                    <div class="w-full flex justify-between">
                        <div class="label hover:underline hover:cursor-pointer">{{buttons.forgot_pass}}</div>
                        <div class="label hover:underline hover:cursor-pointer" (click)="register()">{{buttons.dont_acc}}</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>