<div class="md:grid md:grid-cols-2 text-white">
    <div class="md:h-dvh bg-purple-800">
        
    </div>
    <div class="h-dvh bg-slate-900">
        <div class="grid justify-items-center md:justify-items-end ">
            <div class="flex">asd</div>
        </div>
            <!-- <div class="grid flex-col gap-2">
                <div class="bg-red-500 w-1/2 mx-auto ">
                    <label for="email" class="">
                        Email Address
                    </label>
                    <input type="text" name="email" id="email">
                </div>
                <div class="bg-red-500 w-1/2 mx-auto">HAHA</div>
            
            </div> -->
            <div class="w-1/2 mx-auto">
                <div class="flex flex-col">
                    <label for="email" class="label">Email Address</label>
                    <input type="email" name="email" id="email" class="input">
                </div>
                <div class="flex flex-col">
                    <label for="password" class="label">Password</label>
                    <input type="password" name="password" id="password" class="input">
                </div>
            </div>
    </div>
</div>